* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #412567;
}
.container {
  width: 85%;
  max-width: 1145px;
  margin: 0 auto;
}

/* header section css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo h2 {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
}
nav .logo h2 span {
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .menu {
  display: flex;
  gap: 32px;
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
nav .btn a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}
nav .btn button {
  padding: 12px 16px;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border-radius: 10000px;
}
/* banner section css */
#banner {
  background-image: url(../assets/hero-bg.png);
  height: 760px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .circle-wrap {
  position: relative;
} */
.circle-wrap .circle {
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%,-50%);
}
.circle-wrap .micro{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-120%);
}
.circle-wrap .badge{
    font-size: 1.125rem;
    font-weight: 600;
    border:1px solid transparent;
    background-color: #00FF88;
    border-radius: 1000px;
    padding:8px 16px;
    text-transform: uppercase;
    position: absolute;
    top:95px;
    left:54%;
}



