* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #1a0b2e;
  overflow-x: hidden;
}
.container {
  width: 85%;
  max-width: 1145px;
  margin: 0 auto;
}

/* header section css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
nav .logo h2 {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  font-weight: 800;
}
nav .logo h2 span {
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
nav .menu {
  display: flex;
  gap: 32px;
}
/* hamburger icon */
#menu-toggle {
  display: none;
}
.hamburger {
  display: none;
  font-size: 26px;
  color: #ffffff;
  cursor: pointer;
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
nav .btn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
nav .btn button {
  padding: 12px 16px;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border-radius: 10000px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
nav .btn button:hover {
  padding: 14px 18px;
  background-color: #fb09b4;
  font-size: 18px;
}
/* banner section css */

#banner {
  background-image: url(../assets/hero-bg.png);
  height: 760px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 101px;
}
.banner-img .hero-circle {
  position: relative;
}
.banner-img .hero-circle .micro {
  position: absolute;
  top: 25%;
  left: 33%;
}
.banner-img .hero-circle .badge {
  font-size: 18px;
  font-weight: 600;
  border: 1px solid transparent;
  background-color: #00ff88;
  border-radius: 1000px;
  padding: 8px 16px;
  text-transform: uppercase;
  position: absolute;
  top: 0%;
  left: 65%;
}
.banner-content {
  margin-top: 40px;
  text-align: center;
}
.banner-content h2 {
  font-size: 60px;
  font-weight: 800;
  padding-bottom: 10px;
  color: #ffffff;
}
.banner-content p {
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 24px;
  font-weight: 400;
}
.banner-content .section-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.banner-content .section-btn #btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 10000px;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
.banner-content .section-btn #btn1 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.banner-content .section-btn #btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 10000px;
  background-color: transparent;
  border: 1px solid #00ff88;
}
.banner-content .section-btn #btn2 a {
  text-decoration: none;
  color: #00ff88;
  font-size: 16px;
  font-weight: 600;
}

/* podcast css start */
#podcast {
  padding-top: 50px;
  background-color: #1a0b2e;
}
#podcast .podcast-content h2 {
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 800;
}
#podcast .podcast-content p {
  text-align: center;
  color: #b7b7b7;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 40px;
}
#podcast .podcast-content .bottom-para {
  text-align: center;
  color: #b7b7b7;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}
#podcast .line {
  margin: 80px 0;
  border: none;
  height: 1px;
  color: #b7b7b7;
  opacity: 10%;
}
.podcast-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}
.podcast-card h2 {
  font-size: 48px;
  font-weight: bold;
  color: #00ff88;
  padding-bottom: 16px;
  text-align: center;
}
.podcast-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #b7b7b7;
  padding-bottom: 120px;
}
/* why choose techwave css start */
#choose_tech {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #230e3d;
}
#choose_tech h2 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 40px;
}
.grid-content {
  margin: 102px 40px;
}
.grid-content h3 {
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  color: #ffffff;
  padding: 16px 0;
}
.grid-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #b7b7b7;
  padding: 16px 0;
}
/* featured episodes start */
#feature{
  margin-bottom: 120px;
}
#feature h2{
  font-size: 48px;
  font-weight: 800;
  color:#ffffff;
  padding-bottom: 40px;
  text-align: center;
  padding: 120px 0 40px 0;
}
.feature-card{
  display: flex;
  gap:30px;
}
.video-card{
  background-color: #250D44;
  border-radius: 32px;
  overflow: hidden;
  max-width: 420px;
  flex:1;
}
.video-wrap{
  width:100%;
  aspect-ratio: 16/9;
  position: relative;
}
.video-wrap iframe{
  width:100%;
  height:100%;
  border:0;
}
/* video content */
.video-content{
  padding:24px;
}
.video-content h3{
  font-size: 24px;
  font-weight: 800;
  color:#FFFFFF;
  margin-bottom: 12px;
}
.video-content p{
  font-size: 16px;
  font-weight: 400;
  color:#b7b7b7;
  margin-bottom: 12px;
}
.icon-content p{
  font-size: 16px;
  font-weight: 600;
  color:#00FF88;
}
.play-btn{
  position: absolute;
  inset:0;
  margin: auto;
  width: 75px;
  height:75px;
  background:linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border-radius: 50%;
}
.play-btn::before{
  content:'';
  position: absolute;
  color:#FFFFFF;
  left:29px;
  top:23px;
  border-style: solid;
  border-width: 13px 0 13px 22px;
  border-color: transparent transparent transparent #ffffff;
}
.video-wrap:hover .play-btn{
  transform:scale(1.1);
  cursor: progress;
}
/* meet the host section css start */
#host h2 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 40px;
  text-align: center;
  padding: 120px 0 40px 0;
}
.host-container {
  max-width: 1200px;
  width: 100%;
  background: linear-gradient(135deg, #250d44 40%, #240e42 100%);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.host-img {
  width: 400px;
}
.host-content h3 {
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 16px;
}
.host-content p {
  font-size: 16px;
  font-weight: 400;
  color: #b7b7b7;
  line-height: 24px;
  padding-bottom: 16px;
}
.host-icon {
  display: flex;
  gap: 8px;
}
.host-icon a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #533c72;
  transition: 0.3s;
}
.host-icon a:hover {
  background: #420170;
}
/* footer section css */
footer {
  margin-top: 120px;
  background-image: url(../assets/footer-bg.png);
  padding: 120px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-content h2 {
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  font-weight: 800;
  padding-bottom: 32px;
}
.footer-content h2 span {
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.footer-content .footer-icon {
  display: grid;
  grid-template-columns: repeat(4,auto);
  justify-content: center;
  align-items: center;
  gap:40px;
}
.footer-content .footer-icon a i {
  color: #ffffff;
}
.footer-content .footer-icon a {
  text-decoration: none;
  color: #b7b7b7;
  font-size: 16px;
  font-weight: 600;
  display:flex;
  align-items: center;
  gap:8px;
}
.footer-content p {
  text-align: center;
  color: #b7b7b7;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 32px;
}

/* responsive design css */
/* navbar */
@media (max-width: 576px) {
  .hamburger {
    display: block;
  }
  nav .menu {
    display: none;
  }
  .btn {
    display: none;
  }
}
/* podcast */
@media (max-width: 576px) {
  .podcast-card {
    padding-bottom: 40px;
  }
  #podcast .line {
    margin: 40px 0;
  }
  #podcast .podcast-content h2 {
  font-size: 32px;
}
  .podcast-content p{
    padding-bottom: 0;
  }
  .bottom-para{
    padding-top: 20px;
  }
  .podcast-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .podcast-card p {
    padding-bottom: 0;
  }
}
/* why choose techwave */
@media (max-width: 576px) {
  #choose_tech h2{
    font-size: 32px;
  }
}
/* feature */
@media (max-width: 576px){
  #feature .feature-card{
    display: block;
  }
  #feature .feature-card .video-card{
    margin-bottom:16px;
  }
}
/* host */
@media (max-width: 576px){
  #host h2{
    font-size: 32px;
  }
  #host .host-container{
    display: block;
    text-align: center;
  }
  #host .host-container .host-img img{
    display: block;
    margin: 0 auto;
  }
  .host-icon{
    justify-content: center;
  }
  .host-content h3 {
    font-size: 24px;
  }
}
/* footer */
@media (max-width:576px)
{
  .footer-content{
    padding-top: 40px;
  }
  .footer-content h2{
    font-size: 48px;
    padding-top:40px;
  }
  .footer-content .footer-icon{
    grid-template-columns: repeat(2,auto);
    align-items: center;
    justify-content: center;
    gap:16px;
  }
}

