* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: #1A0B2E;
}
.container {
  width: 85%;
  max-width: 1145px;
  margin: 0 auto;
}

/* header section css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
nav .logo h2 {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}
nav .logo h2 span {
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .menu {
  display: flex;
  gap: 32px;
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
nav .btn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
nav .btn button {
  padding: 12px 16px;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border-radius: 10000px;
  cursor:pointer;
  transition: 0.5s ease-in-out;
}
nav .btn button:hover{
  padding:14px 18px;
  background-color: #fb09b4;
  font-size: 18px;
}
/* banner section css */

#banner {
  background-image: url(../assets/hero-bg.png);
  height: 760px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 101px;
}
.banner-img .hero-circle {
  position: relative;
}
.banner-img .hero-circle  .micro {
  position: absolute;
  top: 25%;
  left:33%;
}
.banner-img .hero-circle  .badge {
  font-size: 18px;
  font-weight: 600;
  border: 1px solid transparent;
  background-color: #00ff88;
  border-radius: 1000px;
  padding: 8px 16px;
  text-transform: uppercase;
  position: absolute;
  top: 0%;
  left: 65%;
}
.banner-content{
  margin-top: 40px;
  text-align: center;
}
.banner-content h2{
  font-size: 60px;
  font-weight: 800;
  padding-bottom: 10px;
  color:#ffffff;
}
.banner-content p{
  font-size: 16px;
  color:#ffffff;
  padding-bottom: 24px;
  font-weight: 400;
}
.banner-content .section-btn{
  display: flex;
  justify-content: center;
  gap:8px;
}
.banner-content .section-btn #btn1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px;
  padding: 12px 20px;
  border-radius:10000px;
  background:linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
.banner-content .section-btn #btn1 a{
  text-decoration: none;
  color:#ffffff;
  font-size: 16px;
  font-weight: 600;
}

.banner-content .section-btn #btn2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px;
  padding:12px 20px;
  border-radius: 10000px;
  background-color: transparent;
  border:1px solid #00FF88;
}
.banner-content .section-btn #btn2 a{
  text-decoration: none;
  color:#00FF88;
  font-size: 16px;
  font-weight: 600;
}

/* podcast css start */
#podcast{
  padding-top: 50px;
  background-color: #1A0B2E;
}
#podcast .podcast-content h2{
  font-size: 48px;
  text-align: center;
  color:#ffffff;
  margin-bottom: 16px;
}
#podcast .podcast-content p{
  text-align: center;
  color:#b7b7b7;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 40px;
}
#podcast .podcast-content .bottom-para{
  text-align: center;
  color:#b7b7b7;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}
#podcast .line{
  margin:80px 0;
  border: none;
  height:1px;
  color:#b7b7b7;
  opacity: 10%;
}
.podcast-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:80px;
}
.podcast-card h2{
  font-size: 48px;
  font-weight: bold;
  color:#00FF88;
  padding-bottom: 16px;
  text-align: center;
}
.podcast-card p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color:#b7b7b7;
}